<!doctype html>
<html ng-app="mapSkills">
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="SearchController as searchCtrl">
    <h2>Procure pessoas por suas habilidades:</h2>
    <form ng-submit="searchCtrl.search()">
      <input type="text" placeholder="Digite uma habilidade" ng-model="searchCtrl.skillName">
      <input type="submit" value="Search">
    </form>
    <div ng-repeat="person in peopleFound">
      {{person.name}}
    </div>
  </body>
</html>