<!doctype html>
<html ng-app="mapSkills">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h2>Procure pessoas por suas habilidades:</h2>
    <form ng-controller="SearchController as searchCtrl" ng-submit="searchCtrl.search()">
      <input type="text" placeholder="Digite uma habilidade" ng-model="searchCtrl.skillName">
      <input type="submit" value="Search">
    </form>
  </body>
</html>